# FinMind + backtesting + talib

#### Talib is used to analyze stock and shows the related indexes. 
#### FinMind is used to get the data from the Taiwan market.

In [4]:
from FinMind.data import DataLoader
import pandas as pd

dl = DataLoader()
df = dl.taiwan_stock_daily(stock_id='0050', start_date='2003-01-01', end_date='2023-02-25')

df = df.rename(columns={"date": "Date"})
df.set_index("Date" , inplace=True)
df = df.rename(columns={"open": "Open", "max": "High", "min": "Low", "close": "Close", "Trading_Volume": "Volume"})
df = df.rename(columns={"Trading_Volume": "Volume"})
df = df.set_index(pd.DatetimeIndex(pd.to_datetime(df.index)))

# FinMind API

In [15]:
token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJkYXRlIjoiMjAyMy0xMi0wMSAyMTo1NDowMSIsInVzZXJfaWQiOiJ3aHVhbmciLCJpcCI6IjM2LjIyNy4zOS4yMzkifQ.FA6zt1WiWAuwMIwcGGsnVEZaLGer7qGwDXAm_Q_3k7k"

In [70]:
pd.read_csv(r"C:\Users\Wade\Desktop\Jupyter_Python\finMindToken.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'D:\\finMindToken.csv'

In [12]:
import requests
url = "https://api.web.finmindtrade.com/v2/user_info"
payload = {
    "token": token, # 參考登入，獲取金鑰
}
resp = requests.get(url, params=payload)
resp.json()["user_count"]  # 使用次數
resp.json()["api_request_limit"]  # api 使用上限

6000

### Real time

In [10]:
url = "https://api.finmindtrade.com/api/v4/taiwan_futures_snapshot"
parameter = {
    "dataset": "taiwan_futures_snapshot",
    "data_id": "TXFE4",
    "token": token, # 參考登入，獲取金鑰
}


resp = requests.get(url, params=parameter)
data = resp.json()

In [11]:
resp.json()

{'msg': 'success',
 'status': 200,
 'data': [{'open': 20366.0,
   'high': 20694.0,
   'low': 20333.0,
   'close': 20682.0,
   'change_price': 300.0,
   'change_rate': 1.47,
   'average_price': 20518.38,
   'volume': 2,
   'total_volume': 79905,
   'amount': 41364,
   'total_amount': 1639520837,
   'yesterday_volume': 66700,
   'buy_price': 20682.0,
   'buy_volume': 78,
   'sell_price': 20685.0,
   'sell_volume': 2,
   'volume_ratio': 1.2,
   'date': '2024-05-04 04:59:58.369',
   'futures_id': 'TXFE4',
   'TickType': 2}]}

### Indicator: CnnFearGreedIndex

In [32]:
url = "https://api.finmindtrade.com/api/v4/data?"
parameter = {
    "dataset": "CnnFearGreedIndex",
    "data_id": "2330",
    "start_date":"2024-04-01",
    "end_date":None,
    "token": token, 
}


resp = requests.get(url, params=parameter)
data = resp.json()

In [33]:
data

{'msg': 'success',
 'status': 200,
 'data': [{'date': '2024-04-01',
   'fear_greed': 67,
   'fear_greed_emotion': 'greed'},
  {'date': '2024-04-02', 'fear_greed': 62, 'fear_greed_emotion': 'greed'},
  {'date': '2024-04-03', 'fear_greed': 63, 'fear_greed_emotion': 'greed'},
  {'date': '2024-04-04', 'fear_greed': 58, 'fear_greed_emotion': 'greed'},
  {'date': '2024-04-05', 'fear_greed': 62, 'fear_greed_emotion': 'greed'},
  {'date': '2024-04-08', 'fear_greed': 62, 'fear_greed_emotion': 'greed'},
  {'date': '2024-04-09', 'fear_greed': 54, 'fear_greed_emotion': 'neutral'},
  {'date': '2024-04-10', 'fear_greed': 51, 'fear_greed_emotion': 'neutral'},
  {'date': '2024-04-11', 'fear_greed': 46, 'fear_greed_emotion': 'neutral'},
  {'date': '2024-04-12', 'fear_greed': 46, 'fear_greed_emotion': 'neutral'},
  {'date': '2024-04-15', 'fear_greed': 39, 'fear_greed_emotion': 'fear'},
  {'date': '2024-04-16', 'fear_greed': 37, 'fear_greed_emotion': 'fear'},
  {'date': '2024-04-17', 'fear_greed': 34, 'fear_greed_emotion': 'fear'},
  {'date': '2024-04-18', 'fear_greed': 33, 'fear_greed_emotion': 'fear'},
  {'date': '2024-04-19', 'fear_greed': 32, 'fear_greed_emotion': 'fear'},
  {'date': '2024-04-22', 'fear_greed': 38, 'fear_greed_emotion': 'fear'},
  {'date': '2024-04-23', 'fear_greed': 39, 'fear_greed_emotion': 'fear'},
  {'date': '2024-04-24', 'fear_greed': 39, 'fear_greed_emotion': 'fear'},
  {'date': '2024-04-25', 'fear_greed': 39, 'fear_greed_emotion': 'fear'},
  {'date': '2024-04-26', 'fear_greed': 42, 'fear_greed_emotion': 'fear'},
  {'date': '2024-04-29', 'fear_greed': 43, 'fear_greed_emotion': 'fear'},
  {'date': '2024-04-30', 'fear_greed': 39, 'fear_greed_emotion': 'fear'},
  {'date': '2024-05-01', 'fear_greed': 33, 'fear_greed_emotion': 'fear'},
  {'date': '2024-05-02', 'fear_greed': 39, 'fear_greed_emotion': 'fear'},
  {'date': '2024-05-03', 'fear_greed': 39, 'fear_greed_emotion': 'fear'}]}

### History data

In [36]:
api = DataLoader()
api.login_by_token(api_token=token)
# api.login(user_id='user_id',password='password')
df = api.taiwan_futures_tick(
    futures_id='MTX',
    date='2020-04-01'
)

In [52]:
df[df["date"]=="2020-04-01 00:00:02"]

   contract_date                 date futures_id   price  volume
3         202004  2020-04-01 00:00:02        MTX  9640.0       2
4         202004  2020-04-01 00:00:02        MTX  9640.0       2
5         202004  2020-04-01 00:00:02        MTX  9640.0       4
6         202004  2020-04-01 00:00:02        MTX  9640.0       2
7         202004  2020-04-01 00:00:02        MTX  9640.0       4
8         202004  2020-04-01 00:00:02        MTX  9640.0       2
9         202004  2020-04-01 00:00:02        MTX  9640.0       2
10        202004  2020-04-01 00:00:02        MTX  9640.0      10
11        202004  2020-04-01 00:00:02        MTX  9641.0       2
12        202004  2020-04-01 00:00:02        MTX  9641.0       4
13        202004  2020-04-01 00:00:02        MTX  9642.0       2
14        202004  2020-04-01 00:00:02        MTX  9642.0       2

In [51]:
df

       contract_date                 date futures_id   price  volume
0             202004  2020-04-01 00:00:01        MTX  9641.0       2
1             202004  2020-04-01 00:00:01        MTX  9641.0       2
2             202004  2020-04-01 00:00:01        MTX  9641.0       6
3             202004  2020-04-01 00:00:02        MTX  9640.0       2
4             202004  2020-04-01 00:00:02        MTX  9640.0       2
...              ...                  ...        ...     ...     ...
247547        202004  2020-04-01 23:59:54        MTX  9484.0       2
247548        202004  2020-04-01 23:59:55        MTX  9485.0      16
247549        202004  2020-04-01 23:59:55        MTX  9485.0       2
247550        202004  2020-04-01 23:59:55        MTX  9485.0      16
247551        202004  2020-04-01 23:59:55        MTX  9485.0       2

[247552 rows x 5 columns]